
.body {
    background: url("../images/1.jpg");

}


.div_top{
    text-align: center;
    margin: 20px auto 20px auto;
    width: 768px;
    border: 1px solid #000;
    border-radius: 10px;
    padding:20px 0px;
    font-size:36px;
    color: #0099FF;
}

.div_center{
    text-align: center;
    margin: 20px auto 20px auto;
    width: 768px;
    border: 1px solid #000;
    border-radius: 10px;

}


.td1_form {
    text-align: right;
    width: 200px;
}

.td3_form {
    text-align: left;
    width: 150px;
}

.label_form, .input_form {
    padding: 10px;
    color: #9F0;
    font-size: 16px;
}

input, select#reg {
    background-color: #9F6;
    color: #000;
    font-size: 16px;
}

span.required {
    font-size: 16px !important;
    color: red !important;
}

.error {
    color: red;
}

.agreement {
    text-decoration: none;
    color: #09F;
}






